.switch {
  &__wrapper {
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
    text-align: center;
    position: relative;
  }
  &__label {
    font-weight: $fontSemiBold;
  }
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle-switch input[type='checkbox'] {
  display: none;
}

.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: $colorYellow;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.toggle-switch .switch::before {
  position: absolute;
  content: '';
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: $colorWhite;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type='checkbox']:checked + .switch::before {
  transform: translateX(25px);
  background-color: $colorWhite;
}
.toggle-switch input[type='checkbox']:checked + .switch {
  background-color: $colorOrange;
}
