.card {
  &__info {
    padding: 7px 7px 10px 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    flex: 1 1 auto;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: $fontSemiBold;
    text-transform: capitalize;
    margin: 7px 0 15px 0;
    text-align: center;
    line-height: 2rem;
    width: 100%;
  }
  &__data {
    padding: 6px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: $fontSemiBold;
    text-align: center;
    margin-bottom: 0.5rem;
    line-height: 2rem;
  }
}
