.grid {
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  margin-bottom: 30px;
  grid-template-columns: repeat(5, minmax(150px, 300px));
  justify-content: center;
  @media (max-width: $tablet) {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.input,
.select {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0;
}

.select {
  &__options {
    height: 35px;
    font-size: 16px;
    outline: none;
    box-shadow: $boxShadow;
    padding-left: 5px;

    cursor: pointer;
    &:focus {
      box-shadow: $boxShadowHover;
    }
  }
}

.notification-message {
  font-size: 2rem;
  line-height: 3rem;
  margin: 5rem 0;
  text-align: center;
}

.label-text {
  font-weight: $fontSemiBold;
  font-size: 1.15rem;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  @media (max-width: $mobileSmall) {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}

.form-info {
  font-weight: $fontMedium;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 10px;
  line-height: 1.5rem;
  @media (max-width: $mobileSmall) {
    font-size: 1.2rem;
  }
}

.button-link {
  font: inherit;
  border: 1px solid $colorBlueDark;
  background: $colorBlueDark;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
  font-weight: 600;
  color: $colorWhite;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  width: 80%;
  &:hover {
    background: $colorBlue;
  }
}

.error-message {
  text-align: center;
  font-size: 14px;
  font-weight: $fontMedium;
  color: $colorError;
}

.card__image {
  position: relative;
  padding: 0px 0px 150% 0px;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
