.hero-modal {
  display: flex;
  gap: 2.5rem;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: $mobile) {
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  &__image {
    max-width: 350px;
    min-width: 250px;
    margin-bottom: 1rem;
    & img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 1rem;
    }

    @media (max-width: $mobile) {
      max-width: 250px;
      min-width: 150px;
      & img {
        object-fit: cover;
      }
    }

    @media (max-width: $mobileSmall) {
      & img {
        max-height: 300px;
      }
    }
  }

  &__info {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__title {
    @include font(1.5rem, $fontSemiBold, $colorBlueDark);
    & span {
      @include font(1.2rem, $fontMedium, $colorFont);
    }
  }

  &__details {
    @include font(1.2rem, $fontMedium, $colorGray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__overview {
    h2 {
      margin-bottom: 10px;
    }
    p {
      @include font(1.2rem, $fontMedium, $colorFont);
    }
    margin-bottom: 1rem;
  }

  &__gallery {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
  }

  &__image-wrapper {
    box-shadow: 0 0 0 1px $colorGray;
  }
  &__gallery-image {
    width: 5rem;
    height: 6rem;
    cursor: pointer;
    transition: all ease-out 0.2s;
    display: block;
    object-fit: cover;
    @media (max-width: 550px) {
      width: 4rem;
      height: 5rem;
    }
    @media (max-width: 425px) {
      width: 3rem;
      height: 4rem;
    }
  }
}
